body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    border: 0px;
    outline: 8px solid black;
    border-radius: 10px;
    height: 50vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.row {
    flex-grow: 1;
    display: flex;
}

button {
    border: 0px;
    outline: 3px solid black;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    flex-basis: 0;
    font-size: 30px;
    font-weight: 800;
}

.number {
    background-color: rgb(22, 196, 181);
}

.operation {
    background-color: rgb(238, 169, 21);
}

.edit,
.format {
    background-color: rgb(197, 196, 196);
}

#equals {
    background-color: rgb(231, 33, 33);
}

#zero-btn {
    flex-grow: 2;
}

.screen {
    align-items: center;
    justify-content: flex-end;
    font-size: 90px;
    padding-right: 10px;
    background-color: rgb(17, 17, 17) ;
    color: aliceblue;
}