body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    border: 8px solid black;
    border-radius: 10px;
    height: 50vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.row {
    flex-grow: 1;
    display: flex;
}

button {
    flex-grow: 1;
}